#boks {
    position: relative;
    width: 1200px;
    height: 600px;
    border: solid gray 1px;
}

#bird {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top:0;
    border: solid gray 1px;
    background-color: red;
}

.bird {
    width: 30px;
    height: 30px;
    background-color: red;
}

#gameover {
    position: absolute;
    left: 200px;
    top: 200px;;
    width: 800px;
    height: 200px;
    color: red;
    font-size: 10em;
    opacity: 0.5;
    text-align: center;
}